{% load i18n %}
{% load get_current_class %}
<div class="course-details">
    <div>
        <span class="label">{% trans 'By' %}:</span>
        <span class="course-instructor">{{ course.authors_names }}</span>
    </div>
    {% get_current_class course as current_class %}
    <div>
        {% if current_class.assistant %}
            <span class="label">{% trans 'Assistant Professor' %}:</span> {{ current_class.assistant.get_full_name }} /
        {% endif %}
        <span class="label">{% trans 'User' %}:</span> {{ request.user.get_full_name }}
        -
        <span class="label">{% trans 'Class' %}:</span>
        {% if not course.default_class == current_class %}
            {{ current_class.name }}
        {% else %}
            Turma padrão
        {% endif %}
    </div>
</div>
