{% extends "messages.html" %}
{% load i18n %}
{% load is_assistant_or_coordinator %}
{% load timtec_markdown %}

{% block message-title-tag %}
    <div class="col-xs-12">
        <h1>{% trans "Message" %}</h1>
    </div>
{% endblock %}

{% block message-button-new %}{% endblock %}

{% block messages_content %}
    <div class="message" ng-controller="MessageController">

        <div class="col-xs-12" ng-hide="message.$resolved">
            <div class="waiting textcenter">
                <div class="middle">
                    <i class="fa fa-refresh fa-5x"></i>
                </div>
            </div>
        </div>

        <div ng-show="message.$resolved">

            <h1 class="bottom">{% verbatim %}{{ message.subject }}{% endverbatim %}</h1>
            <hr />
            <div class="message-body">
                {% if user|is_assistant_or_coordinator:course %}
                    {% verbatim %}
                        <a href="/profile/{{ message.professor.username }}">{{ message.professor.name }}</a>
                    {% endverbatim %}
                {% else %}
                    <a ng-if="message.professor.id == {{ user.id }}" {% verbatim %} href="/profile/{{ message.professor.username }}">{{ message.professor.name }}{% endverbatim %}</a>
                    <strong ng-if="message.professor.id != {{ user.id }}">{% trans 'Tutor' %}</strong>
                {% endif %}
                <span ng-bind-html="message.message"> </span>
                <div class="pull-right message-timestamp">{% verbatim %}{{message.date|date:'dd/MM/yy HH:mm'}}{% endverbatim %}</div>
            </div>

            <div class="message-body"
                ng-repeat="answer in message.answers"
                ng-attr-title="{% verbatim %}{{answer.date|date:'dd/MM/yy HH:mm'}}{% endverbatim %}">

                <hr />
                {% if user|is_assistant_or_coordinator:course %}
                    {% verbatim %}<a href="/profile/{{ answer.user_username }}">{{ answer.user_fullname }}</a>: {% endverbatim %}
                {% else %}
                    <a ng-if="answer.user_id == {{ user.id }}" {% verbatim %} href="/profile/{{ answer.user_username }}">{{ answer.user_fullname }}{% endverbatim %}: </a>
                    <strong ng-if="answer.user_id != {{ user.id }}">{% trans 'Tutor' %}: </strong>
                {% endif %}
                <span ng-bind-html="answer.text"></span>
                <div class="pull-right message-timestamp">{% verbatim %}{{answer.date|date:'dd/MM/yy HH:mm'}}{% endverbatim %}</div>
            </div>


            <hr />


            {% if user|is_assistant_or_coordinator:course %}
                <div class="message-answer">
                    <h2>{% trans 'Responder' %}</h2>
                    <div class="alert alert-danger" role="alert" ng-if="new_answer_validation_error">
                        <ul>
                            <li><a href="#wmd-input"></a></li>
                        </ul>
                    </div>
                    <div class="form-group text-editor">
                        <div class="wmd-panel" markdowneditor="true">
                            <div id="wmd-button-bar" class="js-button-bar"></div>
                            <textarea ng-model="new_answer" class="form-control" id="wmd-input" rows="10"></textarea>
                        </div>
                    </div>
                    <div class="form-group textright bottom">
                        <button ng-click="answer_message()" class="btn btn-success">{% trans 'Send' %}</button>
                    </div>
                </div>
                <hr />
                <div class='btn btn-primary' ng-hide="show_recipients" ng-click="toggle_recipient_list()">{% trans "Show Recipient List" %}</div>
                <div class='btn btn-primary' ng-hide="!show_recipients" ng-click="toggle_recipient_list()">{% trans "Hide Recipient List" %}</div>

                <div class="row" ng-hide="!show_recipients">
                    <div class="students col-lg-12">
                        <h2>{% trans 'Recipients' %}</h2>
                        <table class="table table-list">
                            <tr>
                                <th class="fullname">{% trans "Full name" %}</th>
                                <th class="email">{% trans "Email" %}</th>
                                <th class="username">{% trans "Username" %}</th>
                            </tr>
                            <tr ng-repeat="student in message.users_details">
                                {% verbatim %}
                                <td>{{student.name}}</td>
                                <td>{{student.email}}</td>
                                <td>{{student.username}}</td>
                                {% endverbatim %}
                            </tr>
                        </table>
                    </div>
                </div>
            {% else %}
                <div class="message-answer">
                    <h2>{% trans 'RESPONDER' %}</h2>
                    <div class="alert alert-danger" role="alert" ng-if="new_answer_validation_error">
                        <ul>
                            <li><a href="#wmd-input"></a></li>
                        </ul>
                    </div>
                    <div class="form-group text-editor">
                        <div class="wmd-panel" markdowneditor="true">
                            <div id="wmd-button-bar" class="js-button-bar"></div>
                            <textarea ng-model="new_answer" class="form-control" id="wmd-input" rows="10"></textarea>
                        </div>
                    </div>
                    <div class="form-group textright bottom">
                        <button ng-click="answer_as_new_message()" class="btn btn-success">{% trans 'Send' %}</button>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
