{% extends 'base.html' %}

{% load compress %}
{% load static %}
{% load i18n %}

{% block js %}
    {{ block.super }}
    {% compress js %}
        <script type="text/javascript" src="{% static 'js/messages/app.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/messages/controllers.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/messages/services.js' %}"></script>
        <script type="text/javascript" src="{% static 'angular-ui-tinymce/src/tinymce.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/factories/timtec-models.js' %}"></script>
        <script type="text/javascript" src="{% static 'checklist-model/checklist-model.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/markdown/app.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/markdown/filters.js' %}"></script>
    {% endcompress %}
{% endblock %}

{% block css %}
    {% compress css %}
        <link rel="stylesheet" href="{% static 'tinymce-dist/skins/lightgray/skin.min.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'tinymce-dist/skins/lightgray/skin.ie7.min.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'tinymce-dist/skins/lightgray/content.min.css' %}" type="text/css" />
    {% endcompress %}
{% endblock %}

{% block body_attrs %}ng-app='messages'{% endblock %}

{% block content %}
    <section id="user-messages" class="container" ng-controller="AllMessagesController">
        <header class="secondary-header">
            <div class="row">
                <div class="col-xs-12">
                    <h1>{% trans "Messages" %}</h1>
                </div>
            </div>
        </header>
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <form ng-submit="load_messages()">
                    <div class="input-group" id="adv-search">
                        <input type="text" class="form-control" placeholder="{% trans 'Search' %}..." ng-model="query" />
                        <div class="input-group-btn search-box">
                            <div class="btn-group" role="group">
                                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <hr>
        <div class="row" ng-show="!showing_message">
            <div class="col-sm-9 col-md-10  col-sm-offset3 col-md-offset-2">
                <div class="btn-group">
                    <button type="button" class="btn btn-default message-actions">
                        <label>
                            <input type="checkbox" ng-model="checked_all" ng-click="toggle_all()">
                        </label>
                    </button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span><span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" ng-click="select_all()">{% trans 'All' %}</a></li>
                        <li><a href="#" ng-click="select_read()">{% trans 'Read' %}</a></li>
                        <li><a href="#" ng-click="select_unread()">{% trans 'Unread' %}</a></li>
                    </ul>
                </div>
                <button type="button" class="btn btn-default" data-toggle="tooltip" title="Atualizar" ng-click="load_messages()">
                    &nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-refresh"></span>&nbsp;&nbsp;&nbsp;</button>
                <button type="button" class="btn btn-default" data-toggle="tooltip" title="Deletar mensagens selecionadas" ng-show="checked_all" ng-click="delete_selected()">
                    &nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;&nbsp;</button>
                <!-- <div class="pull-right">
                    <span class="text-muted"><b>1</b>–<b>50</b> of <b>160</b></span>
                    <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </button>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </button>
                    </div>
                </div> -->
            </div>
        </div>

        <div class="row" ng-show="showing_message">
            <button type="button" class="btn btn-default" data-toggle="tooltip" title="Voltar" ng-click="hide_message()">
                    &nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-undo"></span>&nbsp;&nbsp;&nbsp;</button>

            <button type="button" class="btn btn-default" data-toggle="tooltip" title="Voltar" ng-click="delete_message()">
                    &nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;&nbsp;</button>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12" ng-show="loading_messages">
                <p>{% trans 'Loading messages' %}...   <i class="loading fa fa-refresh fa-spin"></i></p>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-3 col-md-2">
                <ul class="nav nav-pills nav-stacked">
                    <li ng-class="{'active': inbox_filter}"><a href="#" ng-click="filter_inbox()"><span class="badge pull-right" ng-show="inbox_count > 0" ng-bind-html="inbox_count"></span>{% trans 'Inbox' %} </a></li>
                    <li ng-class="{'active': sent_filter}"><a href="#" ng-click="filter_sent()">{% trans 'Sent' %}</a></li>
                    <li ng-class="{'active': trash_filter}"><a href="#" ng-click="filter_trash()"><span class="badge pull-right" ng-show="trash_count > 0" ng-bind-html="trash_count"></span>{% trans 'Trash' %}</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-md-10">
                <div class="tab-content">
                    <!-- list messages -->
                    <div class="tab-pane" ng-class="{'active': !showing_message}">
                        <div class="list-group">
                            {% verbatim %}
                                <a href="#" class="list-group-item" ng-repeat="message in messages" ng-class="{'read': !message.is_read}">
                                    <label>
                                        <input type="checkbox" ng-model="message.checked" ng-click="select_message(message.checked)">
                                    </label>
                                    <span class="name" ng-click="show_message(message)" style="min-width: 120px; display: inline-block;">{{ message.professor }}</span>
                                    <span ng-click="show_message(message)" class="subject" ng-bind-html="message.subject"></span> -
                                    <span ng-click="show_message(message)" class="text-muted" style="font-size: 11px;" ng-bind-html="message.message_clean|words:10"></span>
                                    <span ng-click="show_message(message)" ng-title="message.date|date:'dd/MM/yy HH:mm'" class="badge">{{ message.date|date:'dd/MM/yy' }}</span>
                                </a>
                            {% endverbatim %}
                            <div ng-show="!messages.length && !query">{% trans 'There are no messages' %}</div>
                            <div ng-show="!messages.length && query">{% trans 'No results found' %}</div>
                        </div>
                    </div>

                    <!-- single message -->
                    <div class="tab-pane message" ng-class="{'active': showing_message}">
                        <h2 ng-bind-html="showing_message.subject"></h2>
                        <span ng-bind-html="showing_message.professor"></span>
                        <span class="message-timestamp pull-right" ng-bind-html="showing_message.date|date:'dd/MM/yy HH:mm'"></span>
                        <span ng-bind-html="showing_message.message"></span>

                        <!-- answers -->
                        <div class="message-body"
                            ng-repeat="answer in showing_message.answers"
                            ng-attr-title="{% verbatim %}{{answer.date|date:'dd/MM/yy HH:mm'}}{% endverbatim %}">

                            <hr />
                            {% verbatim %}
                                <a href="/profile/{{ answer.user_username }}">{{ answer.user_fullname }}</a>:
                                <span ng-bind-html="answer.text"></span>
                                <div class="pull-right message-timestamp">{{answer.date|date:'dd/MM/yy HH:mm'}}</div>
                            {% endverbatim %}
                        </div>

                        <hr />

                        <!-- answer panel -->
                        <div class="message-answer">
                            <h2>{% trans 'RESPONDER' %}</h2>
                            <div class="alert alert-danger" role="alert" ng-if="new_answer_validation_error">
                                <ul>
                                    <li><a href="#wmd-input"></a></li>
                                </ul>
                            </div>
                            <div class="form-group text-editor">
                                <div class="wmd-panel" markdowneditor="true">
                                    <div id="wmd-button-bar" class="js-button-bar"></div>
                                    <textarea ng-model="new_answer" class="form-control" id="wmd-input" rows="10"></textarea>
                                </div>
                            </div>
                            <div class="form-group textright bottom">
                                <button ng-click="answer_message()" class="btn btn-success">{% trans 'Send' %}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock %}
